body {
    background-color: #ffffff;
    width: 1440px;
    margin: 0 auto;
    font-family: 'Inter', sans-serif;

}

.header {
    display: flex;
    background-color: white;

    align-items: center;

    margin: 0 auto;
}





.logo {
    height: 108px;
    margin-left: 80px;
}





.knopka:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 30px;
}
.knopka:active {
    color: #63AFFD;
}

.knopka:active:after {
    background: transparent;
}

.knopka:hover:before {
    opacity: 1;
}

.knopka:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #63AFFD;
    left: 0;
    top: 0;
    border-radius: 30px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}

.knopka1 {
    width: 195px;
    height: 50px;
    font-size: 20px;
    margin-left: 80px;
    flex-shrink: 0;
    background-color: #63AFFD;
    border: 0;
    color: #FFF;
    align-items: center;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 30px;
}





.startground {
    position: relative;
    background-color: #63AFFD;
    /* height: 908px; */
    padding: 120px 120px 80px;
    margin-top: 25px;

    align-items: center;


}

.kartinka {
    width: 571px;
    /* height: 337px; */
    margin-bottom: 60px;
    background-color: #D9D9D9;

    /* filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)); */
    border-radius: 30px;
}

.text {

    margin-bottom: 75px;
    font-size: 64px;
    color: #FFF;

}

.menu {
    width: 360px;
    height: 110px;
    display: flex;
    position: absolute;
    left: 1045px;
    top: 90px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 35px;
    background-color: #ffffff;

    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}

.circle1 {
    width: 80px;
    height: 80px;
    margin-top: 15px;
    margin-bottom: 15px;
    background-color: #ffffff;

    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 9999px;
}

.circle2 {
    width: 80px;
    height: 80px;
    flex-shrink: 0;
    margin-left: 30px;
    margin-top: 15px;
    margin-bottom: 15px;
    background-color: #ffffff;

    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 9999px;
}

.circle3 {
    width: 80px;
    height: 80px;
    flex-shrink: 0;
    margin-left: 30px;
    margin-top: 15px;
    margin-bottom: 15px;
    background-color: #ffffff;

    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 9999px;
}

.knopkaa:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 30px;
}
.knopkaa:active {
    color: #63AFFD;
}

.knopkaa:active:after {
    background: transparent;
}

.knopkaa:hover:before {
    opacity: 1;
}

.knopkaa:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #ffffff;
    left: 0;
    top: 0;
    border-radius: 30px;
}

.knopka5 {
    width: 310px;
    height: 130px;
    margin-right: 119px;
    background-color: #ffffff;
    border: 0;
    font-size: 52px;
    color: #63AFFD;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 30px;
}

.knopka6 {
    width: 310px;
    height: 130px;
    margin-right: 119px;
    background-color: #ffffff;
    border: 0;
    font-size: 52px;
    color: #63AFFD;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 30px;
}

.knopka7 {
    width: 310px;
    height: 130px;
    color: #63AFFD;
    background-color: #ffffff;
    border: 0;
    font-size: 52px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 30px;
}










.startground3 {
    position: relative;
    display: flex;
    padding-top: 40px;
    margin-bottom: 40px;
    align-items: center;

}


.kartinka2 {
    width: 600px;
    height: 600px;

    background-color: #ffffff;

    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.startground3-2 {
    margin-left: 80px;

}

.text2 {
    width: 624px;

    color: #FFF;
    font-size: 128px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

}

.text3 {
    color: #FFF;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.knopka8 {
    width: 540px;
    height: 130px;
    font-size: 52px;
    margin-top: 70px;
    background-color: #ffffff;
    border: 0;
    color: #63AFFD;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 30px;
}











.text4 {
    width: 1140px;
    height: 95px;
    font-size: 80px;
    font-weight: 400;
    color: #FFF;
    margin-bottom: 80px;
}

.kartinkagraf1 {
    width: 370px;
    height: 490px;
    margin-right: 40px;
}

.kartinkagraf2 {
    width: 370px;
    height: 490px;
    margin-right: 40px;
}

.kartinkagraf3 {
    width: 370px;
    height: 490px;

}

.textic {
    margin-top: 55px;
    position: relative;
    display: flex;
}

.text5 {
    color: #FFF;
    width: 370px;
    margin-right: 40px;
    font-size: 35px;
    text-align: center;

}

.text6 {
    color: #FFF;
    width: 370px;
    font-size: 35px;
    text-align: center;
    margin-right: 40px;
}

.text7 {
    color: #FFF;
    width: 370px;
    text-align: center;
    font-size: 35px;
}





.startground4 {
    position: relative;
    background-color: #ffffff;
    padding: 120px 120px 80px;
    margin-top: 25px;

    align-items: center;


}

.startground4_2 {
    position: relative;
    background-color: #63AFFD;
    box-sizing: border-box;
    height: 710px;
    align-items: center;
    border-radius: 30px;
    padding: 80px 120px 120px;

}

.text8 {
    color: #FFF;
    font-size: 64px;
    font-weight: 400;
    text-align: center;
}

.startground4_3 {
    position: relative;
    display: flex;
    margin-top: 55px;
}

.galochka {
    width: 110px;
    height: 110px;
    border-radius: 30px;
    margin-bottom: 40px;
}

.text9 {
    font-size: 48px;
    color: #FFF;
    margin-bottom: 100px;
    margin-top: 20px;
    margin-left: 40px;
}

.galochka2 {
    margin-left: 40px;
}






.startground5 {
    position: relative;
    background-color: #63AFFD;
    padding: 120px 120px 120px;
    margin-top: 25px;

    align-items: center;


}

.swiper-slide {
    
    font-size: 48px;
    text-align: center;
    color: #FFF;
}

.text10 {
    font-size: 90px;
    color: #FFF;
    text-align: center;
}

.text11 {
    color: #FFF;
    font-size: 96px; 
}
.otziv {
margin-top: 70px ;
position: relative;
display: flex;
margin-bottom:70px;
}

 .otziv1 {
 width: 300px;
 height: 420px;
 background-color: #FFF;
 margin-right: 10px ;
 padding-left: 20px ;
 padding-top: 25px;
 }

 .text12 {
    color: #63AFFD;
 font-size: 64px;  
 margin-bottom: 10px;
 }

.text13 {
    color: #63AFFD;
    font-size: 20px;
    width: 248px;
    margin-bottom: 15px;
}

.avatar {
width: 100px;
height: 100px;
border-radius: 999px;
}

.avatext {
    position: relative;
display: flex;
align-items: center;

}

.avatext1 {
   margin-left: 20px;
   color: #63AFFD;
   font-size: 20px;
    
}

.comment {
    width: 1190px;
height: 115px;
border-radius: 30px;
border:none;
text-align: center;
color: #63AFFD;
font-size: 40px;
}
.comment::placeholder {
    color: #63AFFD;
}













    .footer {
        width: 1440px;
        height: 200px;
       background-color: #FFF;
       display: flex;
       background-color: white;
   
       align-items: center;
   
       margin: 0 auto;
    }

    .knopka20 {
        width: 195px;
        height: 50px;
        font-size: 20px;
        margin-left: 140px;
        background-color: #63AFFD;
        border: 0;
        color: #FFF;
        align-items: center;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
        border-radius: 30px;
    }

    .logo2 {
        height: 108px;
        margin-left: 140px;
    }
    
   