body {
    background-color: #ffffff;
    width: 1440px;
    margin: 0 auto;
    font-family: 'Inter', sans-serif;

}

.header {
    display: flex;
    background-color: white;

    align-items: center;

    margin: 0 auto;
}





.logo {
    /* width: 373px; */
    height: 108px;
    margin-right: 145px;



    /* filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
border-radius: 30px; */
}



.knopka1 {
    width: 195px;
    height: 51px;
    margin-left: 39px;
    margin-right: 145px;
    flex-shrink: 0;
    font-size: 20px;

    background-color: #63AFFD;
    border: 0;
    color: #FFF;
    align-items: center;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 30px;
}

.knopka2 {
    width: 195px;
    height: 51px;
    font-size: 20px;
    margin-right: 52px;
    flex-shrink: 0;
    background-color: #63AFFD;
    border: 0;
    color: #FFF;
    align-items: center;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 30px;
}

.knopka3 {
    width: 195px;
    height: 51px;
    font-size: 20px;
    margin-right: 52px;
    align-items: center;
    flex-shrink: 0;
    color: #FFF;
    background-color: #63AFFD;
    border: 0;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 30px;
}

.knopka4 {
    width: 195px;
    height: 51px;
    margin-right: 39px;
    margin-top: 69px;
    font-size: 20px;
    color: #FFF;
    align-items: center;
    margin-bottom: 69px;
    flex-shrink: 0;
    background-color: #63AFFD;
    border: 0;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 30px;
}

.startground {
    position: relative;
    background-color: #63AFFD;
    /* height: 908px; */
    padding: 120px 120px 80px;
    margin-top: 25px;

    align-items: center;


}

.kartinka {
    width: 571px;
    /* height: 337px; */
    margin-bottom: 60px;
    background-color: #D9D9D9;

    /* filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)); */
    border-radius: 30px;
}

.text {

    margin-bottom: 75px;
    font-size: 64px;
    color: #FFF;

}

.menu {
    width: 360px;
    height: 110px;
    display: flex;
    position: absolute;
    left: 1045px;
    top: 90px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 35px;
    background-color: #ffffff;

    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}

.circle1 {
    width: 80px;
    height: 80px;
    margin-top: 15px;
    margin-bottom: 15px;
    background-color: #ffffff;

    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 9999px;
}

.circle2 {
    width: 80px;
    height: 80px;
    flex-shrink: 0;
    margin-left: 30px;
    margin-top: 15px;
    margin-bottom: 15px;
    background-color: #ffffff;

    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 9999px;
}

.circle3 {
    width: 80px;
    height: 80px;
    flex-shrink: 0;
    margin-left: 30px;
    margin-top: 15px;
    margin-bottom: 15px;
    background-color: #ffffff;

    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 9999px;
}

.knopka5 {
    width: 310px;
    height: 130px;
    margin-right: 119px;
    background-color: #ffffff;
    border: 0;
    font-size: 52px;
    color: #63AFFD;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 30px;
}

.knopka6 {
    width: 310px;
    height: 130px;
    margin-right: 119px;
    background-color: #ffffff;
    border: 0;
    font-size: 52px;
    color: #63AFFD;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 30px;
}

.knopka7 {
    width: 310px;
    height: 130px;
    color: #63AFFD;
    background-color: #ffffff;
    border: 0;
    font-size: 52px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 30px;
}










.startground3 {
    position: relative;
    display: flex;
    padding-top: 40px;
    margin-bottom: 40px;
    align-items: center;

}


.kartinka2 {
    width: 600px;
    height: 600px;

    background-color: #ffffff;

    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.startground3-2 {
    margin-left: 80px;

}

.text2 {
    width: 624px;

    color: #FFF;
    font-size: 128px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

}

.text3 {
    color: #FFF;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.knopka8 {
    width: 540px;
    height: 130px;
    font-size: 52px;
    margin-top: 70px;
    background-color: #ffffff;
    border: 0;
    color: #63AFFD;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 30px;
}











.text4 {
    width: 1140px;
    height: 95px;
    font-size: 80px;
    font-weight: 400;
    color: #FFF;
    margin-bottom: 80px;
}

.kartinkagraf1 {
    width: 370px;
    height: 490px;
    margin-right: 40px;
}

.kartinkagraf2 {
    width: 370px;
    height: 490px;
    margin-right: 40px;
}

.kartinkagraf3 {
    width: 370px;
    height: 490px;

}

.textic {
    margin-top: 55px;
    position: relative;
    display: flex;
}

.text5 {
    color: #FFF;
    width: 370px;
    margin-right: 40px;
    font-size: 35px;

}

.text6 {
    color: #FFF;
    width: 370px;
    font-size: 35px;
    margin-right: 40px;
}

.text7 {
    color: #FFF;
    width: 370px;
    font-size: 35px;
}





.startground4 {
    position: relative;
    background-color: #ffffff;
    padding: 120px 120px 80px;
    margin-top: 25px;

    align-items: center;


}

.startground4_2 {
    position: relative;
    background-color: #63AFFD;
    box-sizing: border-box;
    height: 710px;
    align-items: center;
    border-radius: 30px;
    padding: 80px 120px 120px;

}

.text8 {
    color: #FFF;
    font-size: 64px;
    font-weight: 400;
    text-align: center;
}

.startground4_3 {
    position: relative;
    display: flex;
    margin-top: 55px;
}

.galochka {
    width: 110px;
    height: 110px;
    border-radius: 30px;
    margin-bottom: 40px;
}

.text9 {
    font-size: 48px;
    color: #FFF;
    margin-bottom: 100px;
    margin-top: 20px;
    margin-left: 40px;
}

.galochka2 {
    margin-left: 40px;
}























    .footer {

        display: flex;
    }

    .startground-footer {
        position: absolute;
        left: 0px;
        width: 1440px;
        height: 252px;
        flex-shrink: 0;
        background-color: white;

        top: 5717px;


    }

    .knopka10 {
        width: 195px;
        height: 51px;
        position: absolute;
        top: 5817px;
        left: 80px;
        flex-shrink: 0;
        background-color: #D9D9D9;
        border: 0;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
        border-radius: 30px;
    }

    .knopka11 {
        width: 195px;
        height: 51px;
        position: absolute;
        top: 5817px;
        left: 343px;
        flex-shrink: 0;
        background-color: #D9D9D9;
        border: 0;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
        border-radius: 30px;
    }

    .knopka12 {
        width: 195px;
        height: 51px;
        position: absolute;
        top: 5817px;
        left: 606px;
        flex-shrink: 0;
        background-color: #D9D9D9;
        border: 0;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
        border-radius: 30px;
    }

    .logo2 {
        width: 119px;
        height: 119px;
        position: absolute;
        top: 5783px;
        left: 869px;
        background-color: #D9D9D9;

        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
        border-radius: 9999px;
    }

    .text-footer {
        width: 303px;
        position: absolute;
        top: 5783px;
        left: 1056px;
        font-weight: bold;
        font-size: 25px;
    }